*{
	margin: 0;
	padding: 0;
}
body{
	background:#ededed;
}
.logo{
	width: 100%;
	position:relative;
}
.logo .lg{
	height: 45px;
	background:#28292c;
}
.lg a:first-child{
	line-height:50px;
	position:absolute;
	left:20px;
	top:0px;
}
.lg .lg-ul{
	width: 50%;
	height: 100%;
	color:#c3c3c4;
	line-height:45px;
	margin-left:18%;
}
.lg .lg-ul .lg-li{
	float:left;
	margin-left:3%;
	height: 100%;
}
.lg .lg-ul .lg-li a{
	position: relative;
	color:#ccc;
	font-size: 12px;
	font-weight: bold;
	transition: all 0.3s;
}
.lg .lg-ul .lg-li a:hover{
	color: #e5e5e5;
}
.lg a{
	width:10px;
	color:#ccc;
	position:absolute;
	top: 10px;
	right: 40px;
}
.lg a i{
	font-size:16px;
}
.lg a:hover{
	color:gray;
}
.lg a:last-child{
	right:80px;
}
.logo .gwc:hover + .a-1{
	display:block;
}
.logo .a-1{
	width: 350px;
	height: 300px;
	border-radius: 20px;
	background:#ececec;
	position:absolute;
	top:50px;
	right:28px;
	text-align:center;
	display:none;
	opacity: 0;
	z-index: 12;
}
.logo .a-1 i{
	font-size: 60px;
	color:#ccc;
	position:absolute;
	top:75px;
	right:148px;
}
.logo .a-1 .a-01{
	font-size:20px;
	margin-top:170px;
}
.logo .a-1 .a-02{
	font-size:12px;
	margin-top:10px;
	color:#ccc;
}
.logo .fix{
	width: 100%;
	height:75px;
	background:#fff;
	box-shadow:0px 3px 3px #e5e5e5;
}
.logo .fix-1{
	margin-left:-12%;
}
.logo .fix-1 li{
	float:left;
	margin-right:25px;
	line-height:75px;
	font-size:14px;
}
.logo .fix-1 li:first-child{
	margin-left:342px;
}
.logo .fix-1 li a{
	color:#333;
}
.logo .fix-1 li a:hover{
	color: blue;
}
.logo .fix input{
	width: 170px;
	border-radius:20px;
	border:none;
	font-size:12px;
	color: #6e65cc;
	line-height:20px;
	text-align:center;
	background:#e5efff;
	position:absolute;
	top: 73px;
	right:225px;
}
.logo .qp{
	width: 100%;
	height: 0px;
	background:#fff;
	position:fixed;
	top:0px;
	opacity:0;
	z-index: 9;
	transition: all 0.5s;
	display: none;
}
.logo .qp .gd{
	position:absolute;
	top: 20px;
	right:400px;
}
.logo .qp .gdz{
	position:absolute;
	top: 20px;
	right:440px;
}
.logo .qp .a-1{
	width: 350px;
	height: 300px;
	border-radius: 20px;
	background:#ececec;
	position:absolute;
	top:50px;
	right:234px;
	text-align:center;
	display:none;
}
.logo .qp .fix-1 li{
	line-height:60px;
}
/* .logo结束 */
.top{
	width: 100%;
	margin-bottom:15px;
}
.top #log{
	margin-top: 25px;
	width: 1221px;
	height: 499px;
	float: left;
	box-shadow:0px 3px 3px #e5e5e5;
	position: relative;
}
.top #log li{
	position: absolute;
	top: 0px;
}
.top #log li:nth-child(1){
	z-index: 5;
}
.top #log-z{
	width: 10px;
	height: 10px;
	border-radius:50%;
	background: gray;
	border: 1px solid #ccc;
	position: absolute;
	top: 92%;
	left:49.1%;
	z-index: 6;
	cursor: pointer;
}
.top #log-y{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius:50%;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	top: 92%;
	right:49.1%;
	z-index: 6;
}
.top-t{
	margin-top: 25px;
	width: 100%;
	height: 250px;
	float:left;
	border-radius:5px;
}
.top-t li{
	float:left;
	cursor: pointer;
}
.top .rm{
	float:left;
	width: 100%;
	height: 60px;
	line-height:60px;
	background:#fff;
}
.top .rm p{
	float: left;
	color:#666;
	font-size:20px;
	margin-left:28px;
	font-weight:bold;
}
.top .rm .an{
	float: right;
	margin-right:28px;
}
.top .rm .an span{
	margin-left:28px;
	display:inline-block;
	width: 20px;
	height: 20px;
	line-height:20px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius:50%; 
	text-align:center;
}
.top .rm .an span:first-child{
	color: #ccc;
}
.top .rmdiv{
	width: 100%;
	overflow: hidden;
}
.div{
	border:1px solid #ccc;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
}
.top .rmnr{
	float: left;
	width: 2440px;
	height: 400px;
	background:#fff;
	border-top:1px solid #ccc;
	transition: all 1s;
}
.top .rmnr .jg{
	width: 305px;
	height: 400px;
	float: left;
	text-align:center;
	cursor:pointer;
	position:relative;
	transition: all 0.3s;
}
.top .rmnr .jg img{
	margin-top: 10%;
	box-shadow:none;
	width: 152px;
	height: 205px;
}
.top .rmnr .jg h5{
	margin-top:15px;
}
.top .rmnr .jg p{
	margin-top:10px;
	font-size:9px;
	color:#ccc;
}
.top .rmnr .jg div{
	width: 8px;
	height: 8px;
	display:inline-block;
	border-radius:50%;
}
.top .rmnr .jg .b{
	width: 10px;
	height: 10px;
	border: 1px solid #ccc;
}
.div{
	border:2px solid #000;
}
.top .rmnr .jg .h{
	display:inline-block;
	border-radius:50%;
	background:red;
	overflow: hidden;
}
.top .rmnr .jg .l{
	background:blue;
	margin-left:10px;
}
.top .rmnr .jg .j{
	margin-top:15px;
	font-size:18px;
	color:red;
	font-weight:bold;
}
.top .rmnr .jg .xs{
	width: 100px;
	height: 30px;
	line-height:30px;
	font-size: 12px;
	color:gray;
	background:#eee;
	border: 1px solid #000;
	border-radius:5px;
	position:absolute;
	bottom:30px;
	left:100px;
	display:none;
}
.top .rmnr .jg:hover .j{
	display:none;
}
.top .rmnr .jg:hover .xs{
	display:block;
}
/* .top结束 */
.head{
	width: 100%;
}
.head .sjpj .p{
	box-sizing:border-box;
	width: 100%;
	height: 60px;
	line-height:60px;
	padding-left:28px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	color:#666;
	font-size:20px;
	font-weight:bold;
}
.head .sjpj .pj .pj-z{
	float: left;
	width: 50%;
	height: 400px;
	background: #fff;
	border-radius:0px;
}
.head .sjpj .pj .pj-z img{
	height: 100%;
	width: 100%;
}
.head .sjpj .pj .pj-nr{
	transition: all 0.3s;
	width: 25%;
	height: 400px;
	float: left;
	text-align:center;
	cursor:pointer;
	position:relative;
	background:#fff;
}
.head .sjpj .pj .pj-nr img{
	box-shadow:none;
	margin-top:30px;
	width: 152px;
	height: 205px;
}
.head .sjpj .pj .pj-nr h5{
	margin-top:15px;
	margin-left:15px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.head .sjpj .pj .pj-nr p{
	margin-top:10px;
	font-size:9px;
	color:#ccc;
}
.head .sjpj .pj .pj-nr div{
	width: 8px;
	height: 8px;
	display:inline-block;
	border-radius:50%;
}
.head .sjpj .pj .pj-nr .b{
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
}
.head .sjpj .pj .pj-nr .h{
	display:inline-block;
	border-radius:50%;
	background:red;
	overflow: hidden;
}
.head .sjpj .pj .pj-nr .l{
	background:blue;
	margin-left:10px;
}
.head .sjpj .pj .pj-nr .j{
	margin-top:15px;
	font-size:18px;
	color:red;
	font-weight:bold;
}
.head .sjpj .pj .pj-nr .xs{
	width: 100px;
	height: 30px;
	line-height:30px;
	font-size: 12px;
	color:gray;
	background:#eee;
	border: 1px solid #000;
	border-radius:5px;
	position:absolute;
	bottom:30px;
	left:100px;
	display:none;
}
.head .sjpj .pj .pj-nr .xx{
	width: 100px;
	height: 30px;
	line-height:30px;
	font-size: 12px;
	color:#fff;
	background:gray;
	border: 1px solid #000;
	border-radius:5px;
	position:absolute;
	bottom:30px;
	right:45px;
	display:none;
	cursor:not-allowed;
}
.head .sjpj .pj .pj-nr .xz{
	width: 100px;
	height: 30px;
	line-height:30px;
	font-size: 12px;
	color:gray;
	background:#eee;
	border: 1px solid #000;
	border-radius:5px;
	position:absolute;
	bottom:30px;
	left:45px;
	display:none;
}
.head .sjpj .pj-nr:hover .j{
	display:none;
}
.head .sjpj .pj-nr:hover .xs{
	display:block;
}
.head .sjpj .pj-nr:hover .xx{
	display:block;
}
.head .sjpj .pj-nr:hover .xz{
	display:block;
}
.head .sjpj .gf ul{
	margin-top:15px;
	width: 100%;
	height: 60px;
	float:left;
	box-sizing:border-box;
	width: 100%;
	height: 60px;
	line-height:60px;
	padding-left:28px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	color:#666;
	font-size:20px;
	font-weight:bold;
	position:relative;
}
.head .sjpj .gf ul .gfz{
	float:left;
}
.head .sjpj .gf #ggg{
	margin-right:20px;
}
.head .sjpj .gf ul .gfy{
	float: right;
	font-size:14px;
	cursor:pointer;
	margin-right:30px;
}
.head .sjpj .gf ul .gfy:first-child{
	margin-right:20px;
}
.head .sjpj .gf ul .gfy a{
	color:#666;
	display:inline-block;
	width: 100px;
	height: 36px;
	line-height:36px;
	text-align:center;
	border: 1px solid #ccc;
}
.head .sjpj .gf ul .gfy a:after{
	width: 4px;
	height: 4px;
	background:#bebebe;
	content:"";
	display:inline-block;
	position:absolute;
	top:28px;
	right: 145px;
}
.head .sjpj .gf ul .gfy2 a{
	border:none;
}
.head .sjpj .gf ul .gfy a:after{
	right:132px;
}
/* .head结束 */
.conter{
	width: 100%;
	margin-top: 30px;
}
.conter .top-t li{
	width: 25%;
}
.conter .lt{
	width: 100%;
	margin-top: -20px;
	height: 375px;
	background:#fff;
	float: left;
	border-radius:10px;
}
.conter .ltop{
	height: 60px;
	color: #666;
	border-bottom: 1px solid #ccc;
}
.conter .ltop .luntan{
	float: right;
	color: #666;
	font-size:18px;
	line-height:60px;
	margin-right:35px;
}
.conter .ltop .z{
	float: left;
	line-height:60px;
	margin-left:28px;
	font-size:18px;
}
.conter .lbom{
	height: 314px;
	float: left;
}
.conter .lbom li{
	float: left;
	width: 304px;
	border-right: 1px solid #ccc;
}
.conter .lbom li a img{
	margin: 30px 0px 30px 30px;
}
.conter .lbom li a strong{
	display:inline-block;
	margin:0px 30px 10px;
	width: 250px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color: #333;
	font-weight:bold;
	font-size:15px;
}
.conter .lbom li a p{
	margin:0px 30px 15px;
	font-size:9px;
	color:#ccc;
}
.conter .lbom li a span{
	margin:0px 30px 15px;
	font-size: 12px;
	color:#5079d9;
}
.conter .lbom li:last-child{
	border: none;
}
/* .conter结束 */
.foot{
	margin-top:30px;
	height: 330px;
	background:#fff;
}
.foot .content{
	padding-top:60px;
}
.foot .lb{
	font-size:13px;
}
.foot .lb dl{
	float: left;
	margin-right:90px;
	line-height:30px;
}
.foot .lb dt{
	margin-bottom:18px;
	color:#646464;
	font-weight:bold;
}
.foot .lb dd a{
	color:#969696;
}
.foot .lb dd a:hover{
	color: #5089e1;
}
.foot .lb .zx{
	width: 160px;
	height: 160px;
	float: right;
}
.foot .lb .zx h2{
	font-size: 18px;
	color: #5089e1;
	float: right;
	margin-bottom:20px;
}
.foot .lb .zx span{
	float: right;
	font-size:13px;
	color:#969696;
}
.foot .lb .zx a{
	display:inline-block;
	width: 120px;
	height: 30px;
	line-height:30px;
	border: 1px solid #ccc;
	border-radius:5px;
	float: right;
	text-align:center;
	margin-top:15px;
	color:#5089e1;
	font-weight:bold;
	position:relative;
}
.foot .lb .zx a:after{
	content: '';
	display:block;
	width: 14px;
	height: 14px;
	background:#5089e1;
	border-radius:50%;
	position:absolute;
	top:50%;
	margin-top:-7px;
	left: 25px;
}
.foot .lb .zx a span{
	position:absolute;
	right:85px;
	color:#fff;
	z-index:9;
}
.foot .db{
	float:left;
	width: 100%;
	margin-top:25px;
	border-top:1px solid #ccc;
}
.foot .db ul{
	float:left;
	width: 480px;
	margin-top:25px;
}
.foot .db ul li{
	float:left;
	font-size: 12px;
	color:#969696;
}
.foot .db ul li a{
	float:left;
	font-size: 12px;
	color:#969696;
	transition: all 0.3s;
}
.foot .db ul li .hl:hover{
	color:blue;
}
.foot .db ul li span{
	color: #dedede;
}
.foot .db .yxj{
	margin-top:25px;
	float: right;
	height: 20px;
	line-height:20px;
	position:relative;
}
.foot .db .yxj img{
	position:absolute;
	top: 5px;
	left: -18px;
}
.foot .db .yxj span{
	font-size: 12px;
	margin-left: 5px;
}
.foot .db .yxj i{
	color:#ccc;
	border:none;
	margin-left: 15px;
	display:inline-block;
	transform:rotate(180deg);
	cursor:pointer;
}
/* 固定 */
#fixbox1{
	border-top:1px solid #ccc;
	position: fixed;
	top: 60px;
	width: 100%;
	height:0px;
	background: #fff;
	display: none;
	z-index:11;
	transition: all 0.3s;
}
#fixbox1 img{
	width: 35px;
	height: 35px;
}
.fixx{
	height: 300px;
 	margin-left:-10%;
 	display: none;
 }
.fixx li{
	margin-top: 30px;
	text-align: center;
	width:200px;
	float: left;
	color:#666;
	font-size: 14px;
}
.fixx li p{
	float: left;
}
.fixx li div{
	width: 200px;
	height: 25px;
	margin-top: 30px;
}
.fixx li div img{
	margin-left: -80px;
	vertical-align: middle;
}
.fixx li div span{
	width: 30px;
	color:black;
	font-size: 15px;
	margin-left:10px;
}
.fixx li:nth-child(1){
	margin-left: 450px;
}
.fixx .chx .sh{
	margin-left: 20px;
}
.fixx .chx .sh span{
	margin-left: 5px;
}
.fixx li .x{
	margin-left: -8px;
}
#fixsj1{
	margin-left: -10%;
	display: none;
}
#fixsj1 img{
	width: 77px;
	height: 114px;
}
#fixsj1 li{
	width: 150px;
	text-align: center;
	float: left;
	margin-top:55px;
}
#fixsj1 li h5{
	margin-top:15px;
	margin-bottom:10px;
}
#fixsj1 li p{
	color: red;
	font-weight: bold;
}
#fixsj1 li:nth-child(1){
	margin-left:35%;
}
.bb{
	margin-left:-22px;
}
.po{
	margin-left:17px;
}
#fixfw1 h4{
	text-align: center;
	margin-top:15%;
}