.container{
	width: 1220px;
	margin: 0px auto;
}
.clearfix:after{
	display: block;
	height: 0;
	content: "";
	visibility: hidden;
	clear: both;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #aaa;
}
li{
	list-style: none;
}
.ad-list{
	width: 100%;
	border-radius: 10px;
}
.ad-list li{
	float: left;
	border: 1px solid #ededed;
	box-sizing: border-box;
	/*border-radius: 10px;*/
}
.hover:hover{
box-shadow:inset 0 0 38px rgba(0,0,0,.08);
}