/* 顶部区域开始 */
.top{
	background-color: #242527;
	text-align: center;
	position: relative;
} 
.top .top-logo{
	float: left;
	width: 18px;
	height: 18px;
	margin-left: 20px;
	margin-top: 12px;
	margin-bottom: 15px;
} 
.top .top-user{
	float: right;
	margin-right: 26px;
	margin-top: 15px;
	color: #a5a5a6;
	cursor: pointer;
}
.top .top-cart{
	float: right;
	margin-right: 26px;
	margin-top: 14px;
	color: #a5a5a6;
	cursor: pointer;
}
.top .nav{
	margin-left: 500px;
}
.top .nav .nav-list li{
	float: left;
	margin-left: 40px;
	margin-top: 17px;
	margin-bottom: 17px;
}
.top .nav .nav-list li a{
	font-size: 12px;
	color: #bfc0c1;
}
.top .nav .nav-list li a:hover{
	color: #e5e5d9;
}
.cart{
	width: 358px;
	height: 0px;
	position: absolute;
	background-color: white;
	right: 26px;
	top: 60px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
	/*display: none;*/
	/*opacity: 0;*/
	/*z-index: 0;*/
/*	transition: all 1s;*/
}
/*.top-cart:hover ~ .cart{
	display: block;
	opacity: 1;
	z-index: 1
}*/
.cart img{
	margin-top: 92px;
}
.cart p:nth-of-type(1){
	font-size: 20px;
	margin-top: 32px;
}
.cart p:nth-of-type(2){
	font-size: 12px;
	margin-top: 5px;
	color: #ccc;
}
/* 顶部区域结束 */
/* 头部搜索区域开始 */
.header{
 
}
.header .header-nav{
	/*margin: 20px 0px;*/
	height: 76px;
	line-height: 76px
}
.header .header-nav  .header-list li{
float: left;
margin-right: 32px;
/*width: 100px;*/
}
.header .header-nav .header-list li a{
	font-size: 14px;
	color: #4f4f4f;
}
.header .header-nav .header-list li a:hover{
	color: #5079d9;
}
.header .header-nav .header-list li:first-child a{
	font-weight: bolder;
}
.order li{
	text-align: center;
	display: none;
	margin-top: 70px;
	position: absolute;
	top: 50px;
	z-index: 1;
}

.header .header-search{
	float: right;
	position: relative;
	width: 330px;
	height: 34px;
	border-radius: 17px;
	border: 1px solid #ebebeb;
	z-index: 1001;
	margin-top: 20px;
}
.header .header-search i{
	width: 18px;
	height: 18px;
	color: #a6a6a6;
	position: absolute;
	top:8px;
	left: 12px;
}
.header .header-search input{
	width: 273px;
	height: 34px;
	outline: none;
	margin-left: 37px;
	border: none;
}
.header .hint{
	width: 188px;
	height: 20px;
	background-color: #e5efff;
	border: 1px solid #93b2f7;
	color: #3965cc;
	border-radius: 10px;
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}
.header .header-search p{
	font-size: 12px;
	color: #ccc;
	position: absolute;
	left: 34px;
	top: 10px;
	display: none;
	line-height: 20px;
}
.search-input{
	position: absolute;
	top: 0px;
}
.header .header-search .search-input:focus ~ .hint{
	display: none;
}
.header .header-search .search-input:focus ~ p{
	display: block;
}
.header .header-search .search-input:focus ~ .name-list{
	display: block;
	border: none;
}
.header .header-search .name-list{
	border: 1px solid #ebebeb;
	border-radius: 10px;
	height: 380px;
	margin-top: 20px;
	padding-top: 25px;
	box-sizing: border-box;
	display: none;
	background-color: white;
	padding-left: 20px;
	position: relative;
	margin-top: 65px;
}
.header .header-search .name-list a{
	font-size: 14px;
	color: #4f4f4f;
}
.header .header-search .name-list li{
	height: 33px;
	line-height: 33px;
}
.header .header-search .name-list a:hover{
	color: #5079d9;
	font-weight: bolder;
}
.header .header-search .name-list li:last-child{
	width: 20px;
	height: 20px;
	background-color: white;
	position: absolute;
	transform: rotateZ(45deg);
	top: -10px;
	left:50px;
}
.list5 li{
	float: left;
	width: 25%;
	margin-top: 30px;
}
.list5 li img{
	/*width: 25%;*/
}
.header-Cont{
	width: 100%;
	/*height: 278px;*/
	height: 0;
	/*padding-bottom: 50px;*/
	background-color: white;
	position: absolute;
	top: 130px;
	z-index: 1000;
	/*display: none;*/
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	/*text-align: center;*/
	overflow: hidden;
}
.header-Cont ul{
	width: 1000px;
	/*text-align: center;*/
	margin: 0px auto;
	overflow: hidden;
	/*max-width: 1220px;*/
	/*width: 400px;*/
	position: absolute;
	margin-left: 30%;
	top: 0px;
	left: 0px;
	
}
.header-Cont .Cont4{
	margin-left: 40%;
}
.header-Cont ul li{
	/*height: 200px;*/
	width: 200px;
	float: left;
	/*background-color: green;*/
	/*text-align: center;*/
}
.header-Cont ul .home-phone{
	text-align: center;
}
.header-Cont ul .home-phone .home-phone-name{
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header-Cont ul .home-phone .home-phone-price{
	color: red;
	font-size: 12px;
	font-weight: bolder;
}
.header-Cont ul .home-phone .home-phone-price span{
	color: gray;
}
.header-Cont ul .home-phone img{
	vertical-align: middle;
	margin-top: 46px;
}
.header-Cont .lab-Cont{
	height: 50px;
	line-height: 50px;
}
.header-Cont  .lab{
	font-size: 14px;
	color: #ccc;
	margin-top: 20px;
	height: 16px;
	/*text-align: left;*/
}
.header-Cont .Cont5 {
	margin-left: 40%;
	padding-top: 70px;
}
.header-Cont .Cont5 li{
	float: initial;
	margin-bottom: 25px;
}
.header-Cont  .lab-name{
	font-size: 12px;
}
.header-Cont .lab-Cont img{
	vertical-align: middle;
}
/* 头部搜索区域结束 */
/* 中间内容区域开始 */
.content{
	background-color: #ededed;
	/*height: 200px;*/
	padding-top: 30px;
	/*overflow: hidden;*/
}
/*.content .big-ad{
	width: 100%;
	height: 495px;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}*/
/*.content .big-ad span{
	position: absolute;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
}*/
/*.content .big-ad .skip1{
	top: 460px;
	left: 590px;
	background-color: #fff;

}
.content .big-ad .skip2{
	top: 460px;
	left: 610px;
	background-color: #ccc;

}
.content .big-ad img{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	position: absolute;
	top: 0px;
}
.content .big-ad a:last-of-type img{
	display: none;
}
.content .big-ad a{
	float: left;
}*/
#coursel{
	margin-bottom: 30px;
}
.content .ad-list li{
	float: left;
	position: relative;
	text-align: center;
}
.content .ad-item li{
	width: 25%;
	height: 200px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	position: relative;
}
.content .ad-item li:first-child{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.content .ad-item li:first-child img{
	margin-left: -46px;
}
.content .ad-item li:nth-child(2)  img{
	margin-left: -92px;
}
.content .ad-item li:nth-child(3)  img{
	margin-left: -92px;
}
.content .ad-item li:nth-child(4)  img{
	margin-left: -65px;
}
.content .ad-item li:last-child{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.content .ad-item img{
	/*margin-top: 88px;*/
	margin-top: 6px;
	position: absolute;
	bottom: 0px;

}
.red{
	color: red;
}
.redtab{
	display: inline-block;
	width: 56px;
	height: 17px;
	border-radius: 5px;
	background-color: red;
	font-size: 10px;
	color: white;
	font-weight: normal;
	vertical-align: middle;
	margin-top: -4px;
}
.price1{
	font-size: 16px;
	font-weight: bolder;
}
.content .ad-item li:nth-child(3) .ad-item-name{
	font-size: 14px;
}
.price2{
	font-size: 11px;
	/*font-weight: bold;*/
	text-decoration: line-through;
	color: #8d8d8d;
}
.greentab{
	border-radius: 5px;
	display: inline-block;
	width: 46px;
	height: 20px;
	background-color: #53cf31;
	color: white;
	font-size: 12px;
	line-height: 20px;
}
.ad-item-name{
	margin-top: 32px;
	font-size: 18px;
	color: black;
	font-weight: bolder;
}
.ad-item-price{
	margin-top: 5px;
	font-size: 12px;
	color: #b4b4b4;
}
 .hd{
	height:60px;
	line-height: 60px;
	background-color: #fafafa;
	border: 1px solid #dbdbdb;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 25px;
}
.hd-left p{
	float: left;
	font-size: 20px;
	color: #666;
	font-weight: bolder;
	margin-left: 20px;
}
  .hd .hd-right{
	float: right;
}
 .list3 .hd-right p{
	display: inline-block;
	color: #333;
	font-size: 12px;
	font-weight: bolder;
}
.hd-right a:last-child p{
	border: 1px solid #e1e1e1;
	line-height: 34px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	/*padding-top: 10px;*/
	border-radius: 5px;
	margin-right: 28px;
	/*height: 34px;*/
}
 .hd-right span{
	display: inline-block;
	border: 1px solid #ccc;
	margin-right: 15px;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	text-align: center;
	line-height: 19px;
	/*vertical-align: middle;*/
}
.hd-right a:first-child span{
	border: 1px solid #eee;
}
.list3 .bd ul li:nth-child(2) img:first-child{
	position: absolute;
	top:45px; 
	left:70px;
}
.list3 .bd ul li:nth-child(3) img:first-child{
	position: absolute;
	top:45px; 
	left:70px;
}
#hot{
	overflow: hidden;
}
#hot ul{
	width: 2440px;
}
#hot ul li{
	width: 12.5%;
}
.list1 .hd-right span{
/*line-height: 12px;*/
}
.list1 .hd-right i{
	/*float: right;*/
	font-size: 12px;
	/*vertical-align: middle;*/
}
.list1 .hd-right a:nth-child(2) i{
	/*font-weight: bolder;*/
	color: #333;
	margin-left: 3px;

}
.list1 ul li:first-child{
	border-bottom-left-radius: 10px;
}
.list1 ul li:last-child{
	border-bottom-right-radius: 10px;
}
.list2 ul li:nth-child(4){
	border-bottom-left-radius: 10px;
}
.list2 ul li:nth-child(7){
	border-bottom-right-radius: 10px;
}
.list3 ul li:nth-child(4){
	border-bottom-left-radius: 10px;
}
.list3 ul li:nth-child(7){
	border-bottom-right-radius: 10px;
}
.list4 ul li:nth-child(4){
	border-bottom-left-radius: 10px;
}
.list4 ul li:nth-child(7){
	border-bottom-right-radius: 10px;
}
.list6 .hd-right p{
	margin-top: 13px;
	color: #333;
	font-size: 12px;
	font-weight: bolder;
	/*text-align: center;*/
	
}
.list6 .lun{
	float: left;
	width: 25%;
	height: 308px;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	position: relative;
	/*text-align: center;*/
	margin-bottom: 26px;
}
.list6 .lun a{
	display: block;
	width: 100%;
	height: 100%;
}
.list6 .lun:first-child{
	border-bottom-left-radius: 10px;
}
.list6 .lun:last-child{
	border-bottom-right-radius: 10px;
}

.list6 .lun .open{
	font-size: 18px;
	font-weight: bolder;
	color: black;
	margin-top: 30px;
	margin-left: 26px;
	width: 230px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.list6 .lun .cha{
	font-size: 12px;
	margin-top: 20px;
	margin-left: 26px;
}
.list6 .lun .read{
	font-size: 12px;
	margin-top: 15px;
	margin-left: 26px;
	color:  #5079d9;
}
.list6 img{
	margin-top: 30px;
	margin-left: 26px;
}
.list6 a i{
	vertical-align: -1px;
	display: inline-block;
}
/* 中间内容区域结束 */
/* 尾部结尾区域开始 */
.severve {
	height: 234px;
	/*background-color: red;*/
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

.statement{
	height: 130px;
	/*background-color: black;*/
}
.severve dl{
	float: left;
	margin-right: 90px;
	margin-top: 60px;
	font-size: 12px;
}
dt{
	font-weight: bolder;
	color: #666;
	margin-bottom: 30px;
}
dd{
	margin-bottom: 15px;
}
dd a{
	transition: all 600ms;
}
dd:hover a{
	color: #5079d9;
}
.severve .help{
	float: right;
	/*position: relative;*/
	margin-top: 60px;
}
.severve .help .thp{
	color: #5079d9;
	font-weight: 1000;
	font-size: 18px;
}
.help .time p{
	font-size: 12px;
	color: #999;
	/*position: absolute;*/
	right: 0px;
	/*float: right;*/
}
.time p:first-child{
	position: absolute;
	top:95px;
	right: 0px;
}
.time p:last-child{
	position: absolute;
	top:110px;
	right: 0px;
}
.helping{
	width: 130px;
	height: 30px;
	font-size: 12px;
	border: 1px solid #e6e6e6;
	line-height: 30px;
	text-align: center;
	position: absolute;
	right: 0px;
	top: 134px;
	font-weight: bolder;
	/*color: #5079d9;*/
	border-radius: 5px;
}
.helping p{
	display: inline-block;
	color:  #5079d9;
}
.helping span{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color:#5079d9;
	border-radius: 6px; 
	line-height: 12px;
	color: white;
	font-weight: normal;
	text-align: center;
}
.statement p:first-child{
	margin-top: 32px;
	font-size: 12px;
	color: #ccc;
}
.statement p:last-child{
	margin-top: 14px;
	font-size: 12px;
	color: #ccc;
}
/* 尾部结尾区域结束 */
/*首页通用样式开始*/
.container{
	width: 1220px;
	margin: 0px auto;
}
.clearfix:after{
	display: block;
	height: 0;
	content: "";
	visibility: hidden;
	clear: both;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #aaa;
}
li{
	list-style: none;
}
.hover:hover{
box-shadow:inset 0px 0px 38px rgba(0,0,0,0.08);
}
.bd li{
	width: 25%;
	height: 430px;
	float: left;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	position: relative;
	text-align: center;
}
.bd li img:first-child{
	position: absolute;
	top: 70px;
	left: 100px;
	margin-bottom: 40px;
}
.bd li img:nth-of-type(2){
	margin-top: 16px;
}
.name{
	font-size: 14px;
	font-weight: bolder;
	color: #333;
	margin-top: 282px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.price{
	font-size: 16px;
	color: #d44d44;
	font-weight: bolder;
	margin-top: -30px;
	
}
.introduce{
	color: #999999;
	font-size: 11px;
	margin-top: 18px;
}
.situation{
	width: 100%;
	height: 30px;
	/*background-color: red;*/
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
}
.xiangqing{
	display:none;
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #ededed;
	border-radius: 5px;
	font-size: 12px;
	color: #666;
	font-weight: bolder;
	background-color: white;
	margin-right: 5px;
}
.shouqing{
	display: none;
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #ededed;
	border-radius: 5px;
	font-size: 12px;
	color: white;
	font-weight: bolder;
	background-color: gray;
}
.show:hover .xiangqing{
	display: inline-block;
}
.show:hover .shouqing{
	display: inline-block;
}
.show:hover  .price{
	display: none;
}
.bd .big{
	width: 50%;
position: relative;
}

.bd .big img:first-child{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0px;
 left: 0px;
 margin: 0px;
}
/*首页通用样式结束*/