header{
	height: 84px;
	box-sizing: border-box;
}
.header-top{
	height: 46px;
	line-height: 46px;
	text-align: center;
	background-color: #2c2d2f;
}
.header-top .logo-left{
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 20px;
}
.header-top .text{
	margin-left: auto;
	margin-right: auto;
}
.header-top .text .text-ul{
	width: 852px;
	height: 46px;
	margin-left: auto;
	margin-right: auto;
	line-height: 46px;
	text-align: center;
}
.header-top .text .text-ul .text-item{
	float: left;
	font-size: 12px;
	margin-right: 40px;
}
.header-top .text .text-ul .text-item:last-child{
	margin-right: 0;
}
.header-top .text .text-ul .text-item a{
	color: #c2c2c3;
}
.header-top .text .text-ul .text-item:first-child a{
	color: #e5e5e5;
	font-weight: bolder;
}
.header-top .text .text-ul .text-item a:hover{
	color: #e5e5e5;
}
.header-top .logo-right{
	width: 54px;
	height: 46px;
	position: absolute;
	top: 1px;
	right: 21px;
}
.header-top .logo-right i{
	color: #a5a5a6;
	font-size: 14px;
	cursor: pointer;
}
.header-top .logo-right i:first-child{
	margin-right: 20px;
}
.header-top .cart{
	width: 350px;
	height: 290px;
	background-color: #fff;
	position: absolute;
	right: 10px;
	top: 50px;
	border-radius: 10px;
	box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
	z-index: 999;
	border: 1px solid #bdbdbd;
	display: none;
	text-align: center;
}
.header-top .cart .cart-msg h3{
    font-size: 18px;
    color: #333;
    margin-bottom: -17px;
}
.header-top .cart .cart-msg p{
	font-size: 12px;
	color: #757575;
}
.header-bottom{
	height: 40px;
	background-color: #f7f7f7;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}
.header-bottom .bottom-box{
	width: 1220px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.header-bottom .txt-ul{
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.header-bottom .txt-ul .txt-item{
	float: left;
	margin-right: 30px;
	font-size: 12px;
}
.header-bottom .txt-ul .txt-item:nth-child(6){
	float: right;
}
.header-bottom .txt-ul .txt-item a{
	color: #7b7b7b;
}
.header-bottom .txt-ul .txt-item:hover{
	color: white;
	font-weight: bolder;
}
.header-bottom .bottom-msg{
	width: 100%;
	height: 70px;
	background-color: #f7f7f7;
	position: fixed;
	display: none;
	top: 0;
	z-index: 999;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.header-bottom .bottom-msg .msg-nav{
	width: 1220px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
.header-bottom .bottom-msg .msg-nav h2{
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: #7b7b7b;
	margin-right: 80px;
	line-height: 70px;
}
.header-bottom .bottom-msg .msg-ul{
	/*width: 1220px;*/
	height: 70px;
	height: 100%;
	line-height: 60px;
	text-align: center;
}
.header-bottom .bottom-msg .msg-ul .msg-item{
	float: left;
	font-size: 14px;
	margin-right: 30px;
	cursor: pointer;
	line-height: 70px;
}
.header-bottom .bottom-msg .msg-ul .msg-item:hover{
	color: #000;
	font-weight: 700;
}
/*.header-bottom .bottom-msg .msg-ul .msg-item:nth-child(1){
	font-size: 20px;
	font-weight:none;
	margin-right: 80px;
}*/
.header-bottom .bottom-msg .msg-ul .msg-item:last-child{
	float: right;
	margin-right: 0;
}
.header-bottom .bottom-msg .msg-ul .msg-item a{
	color: #7b7b7b;
}


.product{
	height: 552px;
	border-bottom: 1px solid #e8e8e8;
	background-color: #fcfcfc;
}
.product .product-box{
	width: 1220px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.product .image-left{
	width: 262px;
	height: 422px;
	float: left;
}
.product .image-left img{
	margin-top: 88px;
	margin-left: 220px;
}
.product .choose{
	width: 552px;
	height: 508px;
	float: left;
	margin-left: 390px;
}
.product .choose .choose-top{
	width: 100%;
	height: 156px;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}
.product .choose .choose-top h1{
	font-size: 30px;
	color: #000;
	position: absolute;
	top: 50px;
}
.product .choose .choose-top p{
	font-size: 13px;
	color: #999999;
	position: absolute;
	bottom: 36px;
}
.product .choose .choose-body{
	width: 100%;
	height: 100px;
}
.product .choose .choose-body .body-left{
	width: 86px;
	height: 100%;
	float: left;
}
.product .choose .choose-body .body-left p{
	margin-top: 42px;
	font-size: 14px;
	color: #666666;
}
.product .choose .choose-body .body-right{
	width: 466px;
	height: 100%;
	float: right;
	box-sizing: border-box;
	padding-top: 20px;
	border-bottom: 1px dashed #e8e8e8;
}
.product .choose .choose-body .body-right .choose-box{
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.product .choose .choose-body img{
	width: 26px;
	height: 26px;
	display: block;
	border-radius: 50%;
}
.product .choose .choose-body label{
	font-size: 14px;
    color: #333;
    margin-top: 20px;
    display: block;
    float: right;
}
.product .choose .choose-body .color-box{
	display: inline-block;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
	padding: 3px;
	margin-top: 10px;
}
.product .choose .choose-body .color-blue{
	border: 2px solid #999;
}
.product .choose .choose-body .color-box:hover{
	border: 2.4px solid #e5e5e5;
}
.product .choose .choose-body .color-blue:hover{
	border: 2px solid #999;
}
.product .choose .choose-bottom{
	height: 138px;
	width: 100%;
}
.product .choose .choose-bottom .bottom-left{
	width: 86px;
	height: 100%;
	float: left;
}
.product .choose .choose-bottom .bottom-left p{
	margin-top: 48px;
	font-size: 14px;
	color: #666666;
}
.product .choose .choose-bottom .bottom-right{
	width: 466px;
	height: 100%;
	float: right;
	box-sizing: border-box;
}
.product .choose .choose-bottom .bottom-right a{
	display: inline-block;
	width: 128px;
	height: 48px;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	line-height: 48px;
	text-align: center;
	margin-top: 32px;
	color: #000;
	box-sizing: border-box;
}
.product .choose .choose-bottom .bottom-right a:link{
	border: 1px solid #e5e5e5;
}
.product .choose .choose-bottom .bottom-right a:visited{
	border: 1px solid #6a8fe6;
	font-weight: bolder;
}
.product .choose .choose-bottom .bottom-right a:active{
	border: 1px solid #6a8fe6;
	font-weight: bolder;
}
.product .choose .choose-bottom .bottom-right a:nth-child(1){
	cursor:no-drop;
	opacity: 0.62;
}
.product .choose .choose-bottom .bottom-right a:nth-child(2){
	margin-left: 10px;
}
.product .choose .choose-bottom .bottom-right a:nth-child(2):hover{
	border: 1.3px solid #e5e5e5;
}
.product .choose .choose-bottom .bottom-right a:nth-child(3){
	margin-left: 10px;
	border: 1px solid #6a8fe6;
}
.product .choose .choose-bottom .bottom-right a:nth-child(4){
	margin-top: 12px;
	cursor:no-drop;
	opacity: 0.62;
}
.product .choose .choose-bottom .bottom-right a:nth-child(5){
	margin-left: 10px;
	margin-top: 12px;
	width: 94px;
	cursor:no-drop;
	opacity: 0.62;
}
.information{
	/*margin-left: 342px;*/
	margin-left: auto;
	margin-right: auto;
	width: 1244px;
}
.information .in-header{
	width: 100%;
	height: 148px;
	line-height: 148px;
	border-bottom: 1px solid #ebebeb;
}
.information .in-header h1{
	font-size: 24px;
	font-weight: bolder;
}
.information .in1{
	height: 127px;
}
.information .in11{
	height: 96px;
}
.information .in11 .tt .in-p{
	margin-top: 0;
	font-weight: bolder;
}
.information .in2{
	height: 256px;
}
.information .in22 table{
	margin-top: 10px;
}
.information .in22 tr th{
	height: 50px;
	text-align: center;
}
.information .in22 tr td{
	font-size: 13px;
	font-weight: bolder;
}
.information .in22 img{
	width: 18px;
	height: 18px;
}
.information .in3{
	height: 536px;
}
.information .in33{
	height: 506px;
	/*background-color: red;*/
}
.information .in33 img{
	width: 687px;
	height: 390px;
}
.information .in4{
	height: 181px;
}
.information .in44{
	height: 150px;
}
.information .in5{
	height: 592px;
}
.information .in55{
	height: 562px;
}
.information .in6{
	height: 735px;
}
.information .in66{
	height: 705px;
}
.information .in66 img{
	width: 100%;
	height: 300px;
	margin-top: 22px;
	margin-bottom: 22px;
}
.information .in7{
	height: 241px;
}
.information .in77{
	height: 211px;
}
.information .in8{
	height: 151px;
}
.information .in88{
	height: 121px;
}
.information .in9{
	height: 331px;
}
.information .in99{
	height: 301px;
}
.information .in10{
	height: 187px;
}
.information .in1010{
	height: 157px;
}
.information .in1010 .initem-left{
	margin-right: 242px;
}
.information .in01{
	height: 487px;
}
.information .in0101{
	height: 457px;
}
.information .in0101 .initem-left{
	margin-top: 30px;
	margin-right: 267px;
}
.information .in0101 .initem-right{
	margin-top: 30px;
}
.information .in02{
	height: 151px;
}
.information .in0202{
	height: 121px;
}
.information .in03{
	height: 121px;
}
.information .in0303{
	height: 91px;
}
.information .in04{
	height: 267px;
}
.information .in0404{
	height: 237px;
}
.information .in05{
	height: 777px;
}
.information .in0505{
	height: 747px;
}
.information .in06{
	height: 241px;
}
.information .in0606{
	height: 211px;
}
.information .in07{
	height: 141px;
}
.information .in0707{
	height: 111px;
}
.information .in08{
	height: 141px;
}
.information .in0808{
	height: 111px;
}
.information .in09{
	height: 688px;
}
.information .in0909{
	height: 658px;
}
.information .ino1{
	height: 710px;
}
.information .ino2{
	height: 680px;
}
.information .ino2 .ino2-ul{
	width: 100%;
	height: 447px;
}
.information .ino2 .ino2-ul li{
	float: left;
	width: 103px;
	height: 119px;
}
.information .ino2 .ino2-ul .ino2-li div{
	width: 58px;
	height: 58px;
	margin: 0 auto 21px;
}
.information .ino2 .ino2-ul .ino2-li span{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 14px;
}
.information .ino2 .ino2-ul .ino2-li{
	margin-bottom: 30px;
}
.information .ino2 .ino2-ul .li-1{
	background-image: url(../pic/jl.jpg);
	background-position: -0px -0px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-2{
	background-image: url(../pic/jl.jpg);
	background-position: -69px -0px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-3{
	background-image: url(../pic/jl.jpg);
	background-position: -139px -0px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-4{
	background-image: url(../pic/jl.jpg);
	background-position: -208px -0px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-5{
	background-image: url(../pic/jl.jpg);
	background-position: -275px -0px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-6{
	background-image: url(../pic/jl.jpg);
	background-position: -70px -63px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-7{
	background-image: url(../pic/jl.jpg);
	background-position: -210px -62px;
	background-size: 477px 557px;
}.information .ino2 .ino2-ul .li-8{
	background-image: url(../pic/jl.jpg);
	background-position: -281px -434px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-9{
	background-image: url(../pic/jl.jpg);
	background-position: -345px -62px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul  .li-10{
	background-image: url(../pic/jl.jpg);
	background-position: -0px -124px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-11{
	background-image: url(../pic/jl.jpg);
	background-position: -142px -124px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-12{
	background-image: url(../pic/jl.jpg);
	background-position: -209px -124px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-13{
	background-image: url(../pic/jl.jpg);
	background-position: -276px -124px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-14{
	background-image: url(../pic/jl.jpg);
	background-position: -344px -124px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-15{
	background-image: url(../pic/jl.jpg);
	background-position: -0px -186px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-16{
	background-image: url(../pic/jl.jpg);
	background-position: -344px -186px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-ul .li-17{
	background-image: url(../pic/jl.jpg);
	background-position: -409px -192px;
	background-size: 477px 557px;
}
.information .ino2 .ino2-p{
	display: block;
	line-height: 22px;
}
.information .ino2 .ino2-2{
	width: 854px;
	height: 144px;
	border-bottom: 1px solid #e3e3e3;
}
.information .ino2 .ino2-3{
	margin-top: 25px;
}
.information .ino2 .ino2-3 p{
	line-height: 22px;
}
.information .ino3{
	height: 401px;
}
.information .ino3 p{
	display: inline-block;
}
.information .ino3 span{
	color: red;
	font-size: 12px;
}
.information .ino4{
	height: 371px;
}
.information .ino4 .ino4-ul{
	width: 100%;
	height: 298px;
}
.information .ino4 .ino4-ul li{
	float: left;
	width: 103px;
	height: 119px;
	margin-bottom: 30px;
}
.information .ino4 .ino4-ul .ino4-li div{
	width: 58px;
	height: 58px;
	margin: 0 auto 21px;
}
.information .ino4 .ino4-ul .ino4-li span{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 14px;
}
.information .ino4 .ino4-ul .o4-1{
	background-image: url(../pic/jl.jpg);
	background-position: -342px -0px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-2{
	background-image: url(../pic/jl.jpg);
	background-position: -411px -1px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-3{
	background-image: url(../pic/jl.jpg);
	background-position: -0px -62px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-4{
	background-image: url(../pic/jl.jpg);
	background-position: -142px -62px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-5{
	background-image: url(../pic/jl.jpg);
	background-position: -411px -62px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-6{
	background-image: url(../pic/jl.jpg);
	background-position: -68px -124px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-7{
	background-image: url(../pic/jl.jpg);
	background-position: -209px -186px;
	background-size: 477px 557px;
}.information .ino4 .ino4-ul .o4-8{
	background-image: url(../pic/jl.jpg);
	background-position: -139px -186px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-9{
	background-image: url(../pic/jl.jpg);
	background-position: -274px -186px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul  .o4-10{
	background-image: url(../pic/jl.jpg);
	background-position: -0px -493px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-11{
	background-image: url(../pic/jl.jpg);
	background-position: -411px -127px;
	background-size: 477px 557px;
}
.information .ino4 .ino4-ul .o4-12{
	background-image: url(../pic/jl.jpg);
	background-position: -68px -186px;
	background-size: 477px 557px;
}
.information .ino4{
	line-height: 22px;
}
.information .ino5{
	height: 705px;
}
.information .ino6{
	height: 675px;
}
.information .ino6 p{
	line-height: 22px;
}
.information .ino6 .ino6-ul{
	width: 100%;
	height: 258px;
}
.information .ino6 .ino6-ul li{
	float: left;
	width: 103px;
	height: 119px;
}
.information .ino6 .ino6-ul .ino6-li div{
	width: 58px;
	height: 58px;
	margin: 0 auto 21px;
}
.information .ino6 .ino6-ul .ino6-li span{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 14px;
}
.information .ino6 .ino6-ul .o6-1{
	background-image: url(../pic/jl.jpg);
	background-position: -344px -246px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-2{
	background-image: url(../pic/jl.jpg);
	background-position: -410px -249px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-3{
	background-image: url(../pic/jl.jpg);
	background-position: -68px -308px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-4{
	background-image: url(../pic/jl.jpg);
	background-position: -141px -308px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-5{
	background-image: url(../pic/jl.jpg);
	background-position: -212px -308px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-6{
	background-image: url(../pic/jl.jpg);
	background-position: -276px -308px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-7{
	background-image: url(../pic/jl.jpg);
	background-position: -343px -310px;
	background-size: 477px 557px;
}.information .ino6 .ino6-ul .o6-8{
	background-image: url(../pic/jl.jpg);
	background-position: -141px -371px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-9{
	background-image: url(../pic/jl.jpg);
	background-position: -343px -373px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul  .o6-10{
	background-image: url(../pic/jl.jpg);
	background-position: -0px -369px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-11{
	background-image: url(../pic/jl.jpg);
	background-position: -278px -374px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-12{
	background-image: url(../pic/jl.jpg);
	background-position: -141px -431px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-13{
	background-image: url(../pic/jl.jpg);
	background-position: -65px -370px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-14{
	background-image: url(../pic/jl.jpg);
	background-position: -65px -493px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-15{
	background-image: url(../pic/jl.jpg);
	background-position: -143px -493px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-ul .o6-16{
	background-image: url(../pic/jl.jpg);
	background-position: -212px -495px;
	background-size: 477px 557px;
}
.information .ino6 .ino6-p{
	margin-bottom: 30px;
}
.information .ino6 .ino6-p1{
	height: 182px;
	border-top: 1px solid #e3e3e3;
	padding-top: 20px;
}
.information .ino6 .ino6-p2{
	height: 182px;
	border-top: 1px solid #e3e3e3;
	padding-top: 20px;
}
.information .ino7{
	height: 301px;
}
.information .ino8{
	height: 271px;
	border-bottom: none;
}
.ann{
	width: 1220px;
	height: 96px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 35px;
	padding-left: 24px;
	margin-bottom: 90px;
	border-top: 1px solid #e3e3e3;
}